body {
  background-image: linear-gradient(#3b1566, #5f4da8);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-family: "DM-Sans", sans-serif;
}

  #livro-autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #livro {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1px 1px;
  }
  #autor {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1px 1px;
  }

  #capitulo {
    font-weight: 500;
    font-size: 1.2rem;
  }


#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

  #voltar, #avancar {
    font-size: 3rem;
  }

  #play-pause {
    font-size: 4rem;
  }
